@page "/todo-list"
@rendermode InteractiveServer

@inject TodoService TodoService
@inject SessionService SessionService

<PageTitle>Todo list</PageTitle>

<h1>Todo list</h1>

@if (showOnlyOpen)
{
    <button @onclick="ToggleShowOnlyOpenFilter">Show all</button>
}
else
{
    <button @onclick="ToggleShowOnlyOpenFilter">Show only open</button>
}

@if (todos == null)
{
    <p>Loading ...</p>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li>@todo.CreatedAt :: @todo.Name (@todo.Assignee.Username) <input type="checkbox" @bind="todo.IsDone" /></li>
        }
    </ul>
}

@if (user != null)
{
    <input type="text" @bind="Name" required />
    <button @onclick="HandleAddTodoButtonClick">Add todo</button>
}

@code {
    private bool showOnlyOpen = false;
    private User user;
    private List<TodoItem> todos;

    private string Name = "";

    protected override void OnInitialized()
    {
        user = SessionService.GetUser();
        todos = TodoService.GetList(showOnlyOpen);
    }

    public void ToggleShowOnlyOpenFilter()
    {
        showOnlyOpen = !showOnlyOpen;
        todos = TodoService.GetList(showOnlyOpen);
    }
    public void HandleAddTodoButtonClick() {
        if (user != null && Name != null && Name.Length > 0) {
            TodoService.Add(new TodoItem{
                Name = Name,
                Assignee = user,
                CreatedAt = DateTime.Now,
            });
        }
    }
}
